<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<style>
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  body {
    font-size: 13px;
    color: gray;
    margin: 5px 25px;
  }
  pre {
    font-size: 13pt;
    color: gray;
    padding: 5px 10px;
    border: 1px solid gray;
  }
  tr {
    margin: 5px;
  }
  th {
    padding: 5px;
    color: white;
    background: darkgray;
  }
  td {
    padding: 5px;
    color: black; background: #f0f0f0;
  }
</style>
<script th:inline="javascript">
function action() {
	
	var val = document.getElementById("text1").value;
	var res = parseInt(val *((100 + /*[[${tax}]]*/) / 100));
	document.getElementById("msg").innerHTML = "include tax: " + res;
}
	

</script>
</head>
<body>
<h1 th:text="#{content.title}">Hello page</h1>
<p id="msg"></p>
<input type="text" id="text1">
<button onclick="action()">click</button> 
</body>
</html>




































