<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  body {
    font-size: 13px;
    color: gray;
    margin: 5px 25px;
  }
</style>
</head>
<body>
<h1>Hello page</h1>
<p th:text="${msg}">please wait...</p>
<form method="post" action="/">
	<input type="text" name="text1" th:value="${value}">
	<input type="submit" value="Click">
</form>
</body>
</html>