<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  body {
    font-size: 13px;
    color: gray;
    margin: 5px 25px;
  }
</style>
</head>
<body>
<h1>Hello page</h1>
<p class="msg" th:text="${msg}"></p>
</body>
</html>