<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<style>
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  body {
    font-size: 13px;
    color: gray;
    margin: 5px 25px;
  }
  pre {
    font-size: 13pt;
    color: gray;
    padding: 5px 10px;
    border: 1px solid gray;
  }
  tr {
    margin: 5px;
  }
  th {
    padding: 5px;
    color: white;
    background: darkgray;
  }
  td {
    padding: 5px;
    color: black; background: #f0f0f0;
  }
</style>
</head>
<body>
<h1 th:text="#{content.title}">Hello page</h1>
<div th:switch="${check}">
	<p th:case="0" th:text="|${month} - Winter|"></p>
	<p th:case="1" th:text="|${month} - Spring|"></p>
	<p th:case="2" th:text="|${month} - Summer|"></p>
	<p th:case="3" th:text="|${month} - Autumn|"></p>
	<p th:case="4" th:text="|${month} - Winter|"></p>
	<p th:case="*" >...?</p>
</div>
</body>
</html>