<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<style>
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  body {
    font-size: 13px;
    color: gray;
    margin: 5px 25px;
  }
  pre {
    font-size: 13pt;
    color: gray;
    padding: 5px 10px;
    border: 1px solid gray;
  }
  tr {
    margin: 5px;
  }
  th {
    padding: 5px;
    color: white;
    background: darkgray;
  }
  td {
    padding: 5px;
    color: black; background: #f0f0f0;
  }
</style>
</head>
<body>
<h1 th:text="#{content.title}">Hello page</h1>
<!-- リスト5-12 ここから -->
<form method="post" action="/" th:object="${formModel}">
  <table>
    <tr>
      <td>
        <label for="name">名前</label></td>
      <td>
        <input type="text" name="name" th:value="*{name}"></td></tr>
    <tr>
      <td>
        <label for="age">年齢</label></td>
      <td>
        <input type="text" name="age" th:value="*{age}"></td></tr>
    <tr>
      <td>
        <label for="mail">メール</label></td>
      <td>
        <input type="text" name="mail" th:value="*{mail}"></td></tr>
    <tr>
      <td>
        <label for="memo">メモ</label></td>
      <td>
        <textarea name="memo" cols="20" rows="5" th:value="*{memo}"></textarea></td></tr>
    <tr>
      <td></td>
      <td>
        <input type="submit"></td></tr>
  </table>
</form>
<hr>
<table>
  <tr>
    <th>ID</th>
    <th>名前</th></tr>
  <tr th:each="obj: ${datalist}" th:object="${obj}">
    <td th:text="*{id}"></td>
    <td th:text="*{name}"></td></tr>
</table>
<!-- リスト5-12 ここまで -->
</body>
</html>